@import "dashboard.css";
@import "orderSelector.css";
@import "labelPrinter.css";
@import "filter.css";
@import "details.css";

.maxos-parentControls {
  position: fixed;
  right: 0;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px #666;
}
.maxos-parentControls > .btn {
  margin-bottom: -1px;
  padding: 0;
  width: 80px;
  height: 70px;
  font-size: 49px;
  line-height: 70px;
}
