.maxos-orderSelector {
  display: flex;
}
.maxos-orderSelector-inputs {
  width: 475px;
}
.maxos-orderSelector-recentOrders {
  flex: 1 1 auto;
  margin-left: 15px;
}
.maxos-orderSelector-recentOrders > .btn {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 32px;
}
.maxos-orderSelector-radios {
  display: flex;
  line-height: 1;
}
.maxos-orderSelector-radio input {
  margin: 0;
  width: 42px;
  height: 42px;
  vertical-align: middle;
}
.maxos-orderSelector-radio input:disabled {
  opacity: 0.5;
}
.maxos-orderSelector-radio span {
  display: inline-block;
  padding-left: 10px;
  width: 74px;
  font-size: 56px;
  font-weight: normal;
  vertical-align: middle;
}
.maxos-orderSelector-radio input:disabled + span {
  opacity: 0.5;
}
.maxos-orderSelector-radio:last-child span {
  margin-right: 0;
}
.maxos-orderSelector-inputs .form-control {
  padding: 0;
  height: auto;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 56px;
  line-height: 1;
  text-align: center;
}
.maxos-orderSelector-inputs .form-control.is-vkb-focused {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.maxos-orderSelector-actions .btn {
  font-size: 35px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 725px;
  }
}
